nav{
    display: flex;
    margin: 30px;
    border-radius: 40px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#name{
    margin-top: 5px;
    text-align: center;
}

#navbar{
    margin-top: 0;
    margin-left: 40px;
    width: 100%;
    display: flex;
    list-style-type: none;
}

#navbar li{
    margin: 10px;
}